name: Stats
on: 
  push:
    branches: [main]

jobs: 
  build: 
    runs-on: ubuntu-latest
    steps: 
       - name: checkout repo
         uses: actions/checkout@v4
        # 2️⃣ Autenticar con Service Account
       - name: Authenticate to Google Cloud
         uses: google-github-actions/auth@v1
         with:
           credentials_json: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_JSON }}
        # 3️⃣ Configurar proyecto de GCP
       - name: Set GCP Project
         run: gcloud config set project ${{ secrets.GCP_PROJECT }}
       - name: Zip Apigee Proxy
         run: |
          zip -r proxy.zip apiproxy
       - name: Create Apigee API if not exists
         id: create_api
         run: |
          if ! gcloud apigee apis list --organization=${{ secrets.APIGEE_ORG }} | grep -q ${{ secrets.PROXY_NAME }}; then
          echo "API does not exist, creating..."
          gcloud beta apigee apis create \
            --organization=${{ secrets.APIGEE_ORG }} \
            --api=${{ secrets.PROXY_NAME }} \
            --bundle=proxy.zip
          else
          echo "API already exists."
          fi
        # 4️⃣ Desplegar proxy a Apigee
       - name: Deploy Apigee Proxy
         run: |
          gcloud apigee apis update-proxy \
          --organization=${{ secrets.APIGEE_ORG }} \
          --environment=${{ secrets.APIGEE_ENV }} \
          --api=${{ secrets.PROXY_NAME }} \
          --source=proxy.zip
